.toolbar {
  height: 100px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #0b84b4;
  color: white;
  font-weight: 600;
}

.header {
    margin: 10px;
}

a {
    color: #000000;
    text-decoration: none;
}