<div fxLayout="column">
    <p class="mat-body-2">{{ 'FOOTER.FOLLOW' | translate }}</p>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="35px">
        <a target="_blank" rel="noopener" href="https://www.linkedin.com/company/lyrebirds">
            <mat-icon style="font-size: 2em; color: whitesmoke" fontSet="fab" fontIcon="fa-linkedin-in"></mat-icon>
        </a>
        <a target="_blank" rel="noopener" href="https://www.twitter.com/lyrebirds_dk">
            <mat-icon style="font-size: 2em; color: whitesmoke" fontSet="fab" fontIcon="fa-twitter"></mat-icon>
        </a>
    </div>
    <p class="mat-caption">{{ 'FOOTER.COPYRIGHT' | translate }}</p>
</div>