<app-page-template [title]="'CONTACT.HERO'">
    <p class="mat-body-2 intro" [innerHTML]="'CONTACT.INTRO' | translate" id="intro"></p>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contactForm" *ngIf="!messageReceived; else receipt">

        <div *ngIf="serverError" id="error">
            <mat-divider></mat-divider>
            <p class="mat-body-2" style="color: red;">
                {{ 'CONTACT.FORM.ERROR' | translate }}
            </p>
            <mat-divider></mat-divider>
        </div>

        <mat-form-field class="input-field">
            <input matInput [placeholder]="'CONTACT.FORM.NAME.PLACEHOLDER' | translate" formControlName="name">
            <mat-error *ngIf="hasError('name','required')">{{ 'CONTACT.FORM.NAME.REQUIRED' | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" input-field">
            <input matInput [placeholder]="'CONTACT.FORM.EMAIL.PLACEHOLDER' | translate" formControlName="email"
                required>
            <mat-error *ngIf="hasError('email','required')">{{ 'CONTACT.FORM.EMAIL.REQUIRED' | translate }}</mat-error>
            <mat-error *ngIf="hasError('email','email')">{{ 'CONTACT.FORM.EMAIL.INVALID' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field class="input-field">
            <input matInput [placeholder]="'CONTACT.FORM.PHONE.PLACEHOLDER' | translate" formControlName="phone">
        </mat-form-field>

        <mat-form-field class="input-field">
            <input matInput [placeholder]="'CONTACT.FORM.SUBJECT.PLACEHOLDER' | translate" formControlName="subject">
        </mat-form-field>

        <mat-form-field class="input-field" appearance="fill">
            <textarea matInput [placeholder]="'CONTACT.FORM.MESSAGE.PLACEHOLDER' | translate" formControlName="text"
                required rows="10"></textarea>
            <mat-error *ngIf="hasError('text','required')">{{ 'CONTACT.FORM.MESSAGE.REQUIRED' | translate }}</mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="!contactForm.valid"
            color="primary">{{ 'CONTACT.FORM.SUBMIT' | translate }}</button>
    </form>

    <ng-template #receipt>
        <div class="receipt" fxLayout="row" fxLayoutAlign="center center">
            <mat-card>
                <mat-card-header fxLayout="row" fxLayoutAlign="center">
                    <mat-card-title>{{ 'CONTACT.FORM.MESSAGE_SENT' | translate }}</mat-card-title>
                    <fa-icon style="font-size: 2.5em; color: green" [icon]="['far', 'check-circle']"></fa-icon>
                </mat-card-header>
            </mat-card>
        </div>
    </ng-template>

    <mat-divider></mat-divider>

    <p class="mat-body-2 intro">{{ 'CONTACT.PGP.USE' | translate }}</p>
    <mat-card class="mat-body-2">
        <mat-card-content class="pgp-signature" [matTooltip]="'CONTACT.PGP.COPY' | translate" matTooltipPosition="above"
            (click)="copyPGPKey()">
            <code id="PUBLIC-PGP-KEY" style="word-break: break-all;" fxLayoutAlign="center center">
                -----BEGIN PGP PUBLIC KEY BLOCK-----<br>{{ PGP }}<br>-----END PGP PUBLIC KEY BLOCK-----
        </code>
        </mat-card-content>
    </mat-card>
</app-page-template>