<app-page-template [title]="'Contact us!'">
    <p class="mat-body-2" i18n>
        Whether you have questions about our services, your own security, or otherwise, you can always contact us. Feel
        free to write us an email at <a href="mailto:contact@lyrebirds.dk" target="_blank">contact@lyrebirds.dk</a> or
        fill out the form below and
        we will get back to you as soon possible.</p>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contactForm">

        <mat-form-field class="input-field">
            <input matInput placeholder="Enter your name" formControlName="name" required>
            <mat-error *ngIf="hasError('name','required')">Name required</mat-error>
        </mat-form-field>

        <mat-form-field class="input-field">
            <input matInput placeholder="Enter your email" formControlName="email" required>
            <mat-error *ngIf="hasError('email','required')">Email required</mat-error>
            <mat-error *ngIf="hasError('email','email')">Not a valid email</mat-error>
        </mat-form-field>

        <mat-form-field class="input-field">
            <input matInput placeholder="Phone number" formControlName="phone">
        </mat-form-field>

        <mat-form-field class="input-field">
            <input matInput placeholder="Subject" formControlName="subject">
        </mat-form-field>

        <mat-form-field class="input-field" appearance="fill">
            <textarea matInput placeholder="Write a message" formControlName="text" required rows="10"></textarea>
            <mat-error *ngIf="hasError('text','required')">Message required</mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="!contactForm.valid" color="warn">Send Message</button>
    </form>
</app-page-template>