<app-page-template [title]="'CANARY.HERO'" [intro]="'CANARY.INTRO'">
    <div *ngFor="let paragraph of 'CANARY.BODY' | translate; let i = index" fxLayout="row" fxLayoutAlign="space-between stretch">
        <fa-icon *ngIf="i % 2 == 1" fxFlex="50" class="icons" [icon]="[paragraph.ICON.STYLE,paragraph.ICON.NAME]"></fa-icon>
        <p fxFlex="50" class="mat-body-2" innerHtml="{{paragraph.TEXT}}"></p>
        <fa-icon *ngIf="i % 2 == 0" fxFlex="50" class="icons" [icon]="[paragraph.ICON.STYLE,paragraph.ICON.NAME]"></fa-icon>
    </div>

    <p class="mat-body-2 intro">
        {{ 'CANARY.FORM.INTRO' | translate }}
    </p>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contactForm" *ngIf="!messageReceived; else receipt">

        <div *ngIf="serverError" id="error">
            <mat-divider></mat-divider>
            <p class="mat-body-2" style="color: red;">
                {{ 'CANARY.FORM.ERROR' | translate }}
            </p>
            <mat-divider></mat-divider>
        </div>

        <mat-form-field class="input-field">
            <input matInput [placeholder]="'CANARY.FORM.NAME.PLACEHOLDER' | translate" formControlName="name">
            <mat-error *ngIf="hasError('name','required')">{{ 'CANARY.FORM.NAME.REQUIRED' | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" input-field">
            <input matInput [placeholder]="'CANARY.FORM.EMAIL.PLACEHOLDER' | translate" formControlName="email" required>
            <mat-error *ngIf="hasError('email','required')">{{ 'CANARY.FORM.EMAIL.REQUIRED' | translate }}</mat-error>
            <mat-error *ngIf="hasError('email','email')">{{ 'CANARY.FORM.EMAIL.INVALID' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field class="input-field">
            <input matInput [placeholder]="'CANARY.FORM.PHONE.PLACEHOLDER' | translate" formControlName="phone">
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="!contactForm.valid" color="primary">{{ 'CANARY.FORM.SUBMIT' | translate }}</button>
    </form>

    <ng-template #receipt>
        <div class="receipt" fxLayout="row" fxLayoutAlign="center center">
            <mat-card>
                <mat-card-header fxLayout="row" fxLayoutAlign="center">
                    <mat-card-title>{{ 'CANARY.FORM.MESSAGE_SENT' | translate }}</mat-card-title>
                    <fa-icon style="font-size: 2.5em; color: green" [icon]="['far', 'check-circle']"></fa-icon>
                </mat-card-header>
            </mat-card>
        </div>
    </ng-template>
</app-page-template>