.contactForm {
    min-width: 150px;
    max-width: 800px;
    width: auto;
    margin: auto;
    padding: 20px;
  }
  
  .input-field {
    margin: 30px;
    display: inline;
  }
  
  .header-divider {
    border-left: 1px solid #38546d;
    border-right: 1px solid #16222c;
    height: 80px;
    position: absolute;
    right: 249px;
    top: 10px;
  }
  
  .pgp-signature {
    font-size: 12px;
    cursor: pointer;
  }
  
  mat-card {
    width: 100%;
    text-align: center;
    margin: 0px;
  }
  