<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
<div class="navigation">
    <mat-toolbar color="primary" [ngClass]="{'toolbar': true, 'transparent': false }"
        [ngClass.gt-sm]="{'toolbar': true, 'transparent': !scrolled }">
        <button mat-icon-button (click)="sidenav.toggle();" fxShow="true" fxHide.gt-sm>
            <ng-container *ngIf="!sidenav.opened; else elseTemplate">
                <mat-icon inline=true>menu</mat-icon>
            </ng-container>
            <ng-template #elseTemplate>
                <mat-icon inline=true>close</mat-icon>
            </ng-template>
        </button>
        <span fxFlex.gt-sm="1 1 auto"></span>
        <div [routerLink]="[ '/' | localize ]" style="cursor: pointer" class="mat-headline">
            {{ 'TITLE' | translate }}
        </div>
        <span fxFlex="1 1 auto"></span>
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button [routerLink]="[ page.route | localize ]" *ngFor="let page of pages"
                [ngClass.gt-sm]="{ 'button-hover': !scrolled }">
                <div class="mat-button">{{ page.name | translate }}</div>
            </a>
        </div>
        <span fxFlex.gt-sm="1 1 auto"></span>
    </mat-toolbar>

    <mat-sidenav-container class="container" fxFlexFill>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <a (click)="sidenav.toggle()" mat-list-item [routerLink]="[ page.route | localize ]"
                    *ngFor="let page of pages">
                    <div class="mat-button">{{ page.name | translate }}</div>
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content #content fxLayout="column" fxLayoutAlign="space-between">
            <router-outlet (activate)="onActivate($event)">
            </router-outlet>
            <div fxFlex="1 1 0"></div>
            <footer fxFlex="0 0 auto">
                <app-footer></app-footer>
            </footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>