:host {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer {
  flex: 1 1 auto;
}

.navigation {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  position: fixed;
  z-index: 2;
}

.container {
  flex: 1 0 auto;
  background-color: whitesmoke;
  background-size: cover;
}

.mat-nav-list {
  margin-top: 60px;
}

.mat-list-item {
  margin-bottom: 20px;
}

.transparent {
  background-color: transparent;
}
