:host {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer {
  flex: 1 1 auto;
}

.navigation {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  position: fixed;
  z-index: 2;
}

.container {
  flex: 1 0 auto;
  background-image: url("/assets/img/horizont_javascript_far.jpg");
  background-size: cover;
}
