<app-page-template>
    <app-hero [heroPath]="'FRONT.HERO.IMAGE'"></app-hero>
    <div class="front-page-page" fxLayout="column" fxLayoutAlign="space-evenly center">
        <div fxFlex></div>
        <div fxLayout="row wrap" fxLayoutAlign="center stretch" style="padding: 0 50px 0 50px;">
            <mat-card fxFlex class="front-page-card background-accent">
                <mat-card-header>
                    <mat-card-title class="mat-title">
                        NEWSLETTER
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="mat-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia, nunc non
                        dictum hendrerit, augue lacus interdum diam, non bibendum neque ante ac erat. Orci varius
                        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse
                        posuere, odio vehicula bibendum blandit, urna augue interdum lacus, eu aliquet ex est nec
                        risus. Pellentesque tincidunt ultrices urna et sollicitudin.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="warn" class="front-page-button">
                        SIGN UP
                    </button>
                </mat-card-actions>
            </mat-card>
            <div style="width: 10px;"></div>
            <mat-card fxFlex class="front-page-card background-primary">
                <mat-card-header class="no-ident">
                    <mat-card-title class="mat-title color-white">
                        BROADCOM CABLE MODEM ERROR
                    </mat-card-title>
                    <mat-card-subtitle class="color-warn">
                        03-02-2020
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="mat-body" style="color: white;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia, nunc non
                        dictum
                        hendrerit, augue lacus interdum diam, non bibendum neque ante ac erat. Orci varius natoque
                        penatibus.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="warn" class="front-page-button">
                        READ MORE
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div style="height: 10px;"></div>
        <div fxLayout="row wrap" fxLayoutAlign="center stretch" style="padding: 0 50px 0 50px;">
            <img fxFlex class="front-page-image" src="/assets/img/stocks.jpg" alt="tablet">
            <div style="width: 10px;"></div>
            <mat-card fxFlex class="front-page-card no-shadow">
                <mat-card-header>
                    <mat-card-title class="mat-title">
                        ABOUT LYREBIRDS
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="mat-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia, nunc non
                        dictum
                        hendrerit, augue lacus interdum diam, non bibendum neque ante ac erat. Orci varius
                        natoque
                        penatibus
                        et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse posuere, odio
                        vehicula
                        bibendum
                        blandit, urna augue interdum lacus, eu aliquet ex est nec risus. Pellentesque tincidunt
                        ultrices
                        urna et sollicitudin.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="front-page-button">
                        READ MORE
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxFlex></div>
    </div>
    <div class="front-page-page image-background" [ngStyle]="{backgroundImage:'url(/assets/img/computer-coffee.jpg)'}"
        fxLayout="column" fxLayoutAlign="space-between center">
        <div fxFlex></div>
        <div class="front-page-service-container" fxLayout="column" fxLayoutAlign="center center">
            <h1 class="mat-title color-white">
                SERVICES
            </h1>
            <p class="mat-body color-white services-paragraph">
                Our services are always adjusted to fit the requirements of our clients, but here you can read about
                some of the areas we can help you with.<br>
                If you have any questions or specific needs, feel free to
                contact us!
            </p>
        </div>
        <div fxFlex class="front-page-service-card-container" fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="5"></div>
            <mat-card fxFlex class="front-page-card-2 background-accent" fxLayout="column"
                fxLayoutAlign="center center">
                <mat-card-header>
                    <mat-card-title class="mat-title" style="text-align: center; margin-top: 30px;">
                        Technology Management
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="mat-body" style="text-align: center;">
                        Most attacks on security will explait publicly known vulnerabilities, and could have been
                        prevented by a timely reaction to newly disclosed vulnerabilities.
                    </p>
                </mat-card-content>
                <div fxFlex></div>
                <mat-card-actions fxLayoutAlign="center center" style="margin-bottom: 30px;">
                    <button mat-raised-button color="primary" class="front-page-button">
                        READ MORE
                    </button>
                </mat-card-actions>
            </mat-card>
            <div fxFlex="1"></div>
            <mat-card fxFlex class="front-page-card-2 background-accent" fxLayout="column"
                fxLayoutAlign="center center">
                <mat-card-header>
                    <mat-card-title class="mat-title" style="text-align: center;">
                        Technology Management
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="mat-body" style="text-align: center;">
                        Most attacks on security will explait publicly known vulnerabilities, and could have been
                        prevented by a timely reaction to newly disclosed vulnerabilities.
                    </p>
                </mat-card-content>
                <div fxFlex></div>
                <mat-card-actions fxLayoutAlign="center center">
                    <button mat-raised-button color="primary" class="front-page-button">
                        READ MORE
                    </button>
                </mat-card-actions>
            </mat-card>
            <div fxFlex="1"></div>
            <mat-card fxFlex class="front-page-card-2 background-accent" fxLayout="column"
                fxLayoutAlign="center center">
                <mat-card-header>
                    <mat-card-title class="mat-title" style="text-align: center;">
                        Technology Management
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="mat-body" style="text-align: center;">
                        Most attacks on security will explait publicly known vulnerabilities, and could have been
                        prevented by a timely reaction to newly disclosed vulnerabilities.
                    </p>
                </mat-card-content>
                <div fxFlex></div>
                <mat-card-actions fxLayoutAlign="center center">
                    <button mat-raised-button color="primary" class="front-page-button">
                        READ MORE
                    </button>
                </mat-card-actions>
            </mat-card>
            <div fxFlex="1"></div>
            <mat-card fxFlex class="front-page-card-2 background-accent" fxLayout="column"
                fxLayoutAlign="center center">
                <mat-card-header>
                    <mat-card-title class="mat-title" style="text-align: center;">
                        Technology Management
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="mat-body" style="text-align: center;">
                        Most attacks on security will explait publicly known vulnerabilities, and could have been
                        prevented by a timely reaction to newly disclosed vulnerabilities.
                    </p>
                </mat-card-content>
                <div fxFlex></div>
                <mat-card-actions fxLayoutAlign="center center">
                    <button mat-raised-button color="primary" class="front-page-button">
                        READ MORE
                    </button>
                </mat-card-actions>
            </mat-card>
            <div fxFlex="5"></div>
        </div>
        <div fxFlex></div>
    </div>
    <div class="front-page-page" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="stripes-container">
            <img class="stripes" src="/assets/img/stripes-high-res-2.png">
        </div>
        <div fxFlex="10"></div>
        <div fxFlex="20">
            <h1 class="mat-title">
                CONTACT
            </h1>
            <p class="mat-body front-page-contact-body">
                Whether you have questions about our services, your own security, or otherwise, feel free to write
                us an
                email or give us a call.
            </p>
            <div style="height: 20px;"></div>
            <h1 class="mat-subheading-1">
                contact@lyrebirds.dk
            </h1>
            <h1 class="mat-subheading-1">
                +45 12 34 56 78
            </h1>
            <div fxLayout="row">
                <a href="https://www.linkedin.com/company/lyrebirds">
                    <fa-icon style="font-size: 3em; color: rgb(0, 119, 181);" [icon]="['fab', 'linkedin']">
                    </fa-icon>
                </a>
                <div style="width: 15px;"></div>
                <a href="https://twitter.com/lyrebirds_dk">
                    <fa-icon style="font-size: 3em; color: rgb(29, 161, 242);" [icon]="['fab', 'twitter']">
                    </fa-icon>
                </a>
            </div>
        </div>
        <div fxFlex="20"></div>
        <img fxFlex="30" class="mascot" src="/assets/img/mascot.png">
        <div fxFlex="10"></div>
    </div>
</app-page-template>