<app-page-template>
    <app-hero [heroPath]="'FRONT.HERO.IMAGE'"></app-hero>
    <div class="front-page-page" fxLayout="column" fxLayoutAlign="space-evenly center">
        <div style="height: 50px;"></div>
        <div fxFill fxLayout="row wrap" fxLayoutAlign="center start">
            <div fxFlex="6"></div>
            <div fxFlex="88" fxLayout="row wrap" fxLayoutAlign="center stretch">
                <mat-card class="front-page-card background-accent" fxFlex="49">
                    <mat-card-header>
                        <mat-card-title class="mat-title">
                            NEWSLETTER
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="mat-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia, nunc non
                            dictum hendrerit, augue lacus interdum diam, non bibendum neque ante ac erat. Orci varius
                            natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse
                            posuere, odio vehicula bibendum blandit, urna augue interdum lacus, eu aliquet ex est nec
                            risus. Pellentesque tincidunt ultrices urna et sollicitudin.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="warn" class="front-page-button">
                            SIGN UP
                        </button>
                    </mat-card-actions>
                </mat-card>
                <div fxFlex="2"></div>
                <mat-card class="front-page-card background-primary" fxFlex="49">
                    <mat-card-header class="no-ident">
                        <mat-card-title class="mat-title color-white">
                            BROADCOM CABLE MODEM ERROR
                        </mat-card-title>
                        <mat-card-subtitle class="color-warn">
                            03-02-2020
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="mat-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia, nunc non
                            dictum
                            hendrerit, augue lacus interdum diam, non bibendum neque ante ac erat. Orci varius natoque
                            penatibus
                            et
                            magnis dis parturient montes, nascetur ridiculus mus.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="warn" class="front-page-button">
                            READ MORE
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div fxFlex="6"></div>
            <div fxFlex="100" class="divider"></div>
            <div fxFlex="6"></div>
            <div fxFlex="88" fxLayout="row wrap" fxLayoutAlign="center start">
                <img [class.mat-elevation-z2]="!isActive" class="front-page-image" src="/assets/img/stocks.jpg"
                    alt="tablet" fxFlex="49" #tabletImage>
                <div fxFlex="2"></div>
                <div fxFlex="49" #aboutCard>
                    <mat-card class="front-page-card no-shadow" style="padding-bottom: 10px;">
                        <mat-card-header>
                            <mat-card-title class="mat-title">
                                ABOUT LYREBIRDS
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="mat-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia, nunc non
                                dictum
                                hendrerit, augue lacus interdum diam, non bibendum neque ante ac erat. Orci varius
                                natoque
                                penatibus
                                et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse posuere, odio
                                vehicula
                                bibendum
                                blandit, urna augue interdum lacus, eu aliquet ex est nec risus. Pellentesque tincidunt
                                ultrices
                                urna et sollicitudin.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" class="front-page-button">
                                READ MORE
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <div fxFlex></div>
        </div>
        <div style="height: 50px;"></div>
    </div>
    <div class="front-page-page image-background" style="background-image: url('/assets/img/computer-coffee.jpg');"
        fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h1 class="mat-title center color-white" fxFlex>
                SERVICES
            </h1>
            <p class="mat-body color-white" fxFlex>
                Our services are always adjusted to fit the requirements of our clients, but here you can read about
                some of
                the areas we can help you with. If you have any questions or specific needs, feel free to contact us!
            </p>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex="10"></div>
                <mat-card class="front-page-card-2" fxFlex="20">
                    <mat-card-header>
                        <mat-card-title class="mat-title">
                            Technology Management
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="mat-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia, nunc non
                            dictum
                            hendrerit, augue lacus interdum diam, non bibendum neque ante ac erat. Orci varius natoque
                            penatibus
                            et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse posuere, odio vehicula
                            bibendum
                            blandit, urna augue interdum lacus, eu aliquet ex est nec risus. Pellentesque tincidunt
                            ultrices
                            urna et sollicitudin.
                        </p>
                    </mat-card-content>
                </mat-card>
                <div fxFlex></div>
            </div>
        </div>
    </div>
</app-page-template>