@import "../../theme";

$config: mat-typography-config();


::ng-deep .mat-card-header-text {
    margin: 0px !important;
  }

.front-page-card{
    position: unset;
    //height: inherit;
    padding: 40px 80px 40px 80px;
    max-width: 700px !important;
}

.front-page-card-2{
    position: unset;
    height: 100%;
    padding: 25px 50px 25px 50px;
    z-index: 9;
}

.front-page-contact-body{
    max-width: 500px;
}

.front-page-page {
    min-height: 100vh;
}

.divider {
    height: 20px;
}

.no-shadow {
    background-color: rgb(250, 250, 250);
    transition: none !important;
    box-shadow: none !important;
}

.front-page-image {
    height: auto;
    object-fit: cover;
    max-width: 700px !important;
    //height: 2px;
}

.front-page-button {
    padding: 10px 60px 10px 60px;
}

.mat-raised-button {
    border-radius: 2px;
}

.background-accent{
    background-color: $accent;
}

.background-primary {
    background-color: $primary;
}

.color-warn {
    color: $warn;
}

.color-white {
    color: white;
}

.image-background{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}
.image-background > .mat-h1 {
    margin-top: 50px;
    text-align: center;
}
.image-background > .mat-body {
    width: 500px;
    text-align: center;
}

.mat-body {
    font-family: 'transat' !important;
}

.services-paragraph{
    text-align: center;
    max-width: 500px;
    padding-left: 50px;
    padding-right: 50px;
}

.mat-title{
    font-weight: 900;
}

.mat-subheading-1{
    font-weight: 900;
}

.stripes-container{
    position: absolute;
    width: 100%;
    z-index: -1;
    overflow-y: hidden;
    height: 130vh;
    bottom: 0;
}

.front-page-service-card-container{
    min-height: 500px;
    margin-bottom: 50px;
}

.front-page-service-container{
    margin-top: 50px;
}

.stripes {
    top: 0;
    height: 100%;
    z-index: -1;
}

.mascot {
    position: relative;
    right: 0;
    margin-right: 50px;
}