.example-card{
    width: auto;
    margin-bottom: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.example-card:hover{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.example-header-image { 
  background-size: cover;
}

.title{
    font-weight: bold;
}

.img-article{
    box-shadow: none;
    width: auto;
    height: 350px;
}

.action-buttons{
    text-align: center;
}

.example-container {
    width: 100%;
    height: auto;
    border: 1px solid rgba(111, 111, 111, 0.50);
}

.expandable-article-content {
    height: 400px;
}
.article-content {
    transition: height 0.2s ease-in-out;
    text-align: left;
    margin-bottom: 5px;
    padding-bottom: 5px;
    overflow:hidden;
    text-overflow: ellipsis;
    content: "";
    position:relative;
}

.article-content img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
}

.article-mask {
    mask-image: linear-gradient(to bottom, black 350px, transparent);
}

.list-item:hover{
    cursor: pointer;
    background-color: #3f51b5;
    color: white;
}

.mat-card-subtitle{
  text-align: left;
}

@media only screen and (max-width: 600px) {
    .example-card{
        padding: 5px;
    }
}

.offset-anchor {
    position: relative;
    top: -140px;
    left: 0;
  }
  