<app-page-template [title]="'SERVICES.HERO'">
    <p class="mat-body-2 intro" [innerHTML]="'SERVICES.INTRO' | translate"></p>
    
    <div *ngFor="let service of serviceList; let i = index" fxLayout="row wrap" fxLayoutAlign="center stretch">
        <div fxFlex="50" *ngIf="i % 2 == 0">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <fa-icon style="font-size: 15em; color: lightgray;" [icon]="service.icon"></fa-icon>
        </div>
        <div fxFlex="50">
            <div class="mat-title tit">{{ service.title }}</div>
            <p class="mat-body-2 tex">{{ service.intro }}</p>
            <div *ngFor="let block of service.content; let i = index">

                <div class="mat-subheading-2 tex">{{ block[0] }}</div>
                <p class="mat-body-2 tex">{{ block[1] }}</p>
            </div>
        </div>
        <div fxFlex="50" *ngIf="i % 2 == 1">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <fa-icon style="font-size: 15em; color: lightgray;" [icon]="service.icon"></fa-icon>
        </div>
    </div>
</app-page-template>