.tex {
  font-size: 20px;
  line-height: 30px;
  max-width: 800px;
  width: 90%;
  margin: 0px;
  text-align: left;
}

.tex2 {
  font-size: 20px;
  line-height: 30px;
  max-width: 800px;
  width: 90%;
  margin: 0px;
  margin-top: 30px;
  text-align: left;
}

.tit {
  text-align: left;
  font-weight: bold;
  margin: 30px;
  margin-left: 0px;
}