.mat-body-2 {
  font-size: 24px;
  line-height: 30px;
  max-width: 800px;
  width: 90%;
  margin: 50px auto;
  text-align: justify;
}
mat-card {
  width: 300px;
  text-align: center;
  margin: 20px;
}

mat-card-content {
  text-align: center;
  flex: 1 0 auto;
}

mat-card-actions button {
  margin: 10px auto;
}

.card-container {
  margin: auto;
}
