mat-card {
  width: 300px;
  text-align: center;
  margin: 20px;
}

mat-card-content {
  text-align: center;
  flex: 1 0 auto;
}

mat-card-actions button {
  margin: 10px auto;
}

.card-container {
  margin: auto;
}
