<app-page-template [title]="'Lyrebirds'" [subtitle]="'Security Consultancy'">
    <p class="mat-body-2" i18n>
        Lyrebirds is a cyber security consultancy company, specialized in the discovery of security
        vulnerabilities, and incident prevention. We believe that security comes from preparation and awareness,
        which is central in the services we provide. Our knowledge and expertize will be able to guide you to a
        modern defense, allowing you to safely leverage the advantages of IT-technology.
    </p>
    <div class="card-container" fxLayout="row wrap" fxLayoutAlign="center stretch">
        <mat-card fxLayout="column">
            <mat-card-title>
                Contact Us
            </mat-card-title>
            <mat-card-content>
                <p>
                    Your security strategy should reflect your business. Contact us and we'll figure out how our efforts
                    best suit your needs.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a routerLink="/contact">
                    <button mat-raised-button color="warn">Contact</button>
                </a>
            </mat-card-actions>
        </mat-card>
        <mat-card fxLayout="column">
            <mat-card-title>
                Our Services
            </mat-card-title>
            <mat-card-content>
                <p>
                    Read about the services we provide, to see how we can help you stay secure.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a routerLink="/services">
                    <button mat-raised-button color="warn">Services</button>
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</app-page-template>