<app-page-template [title]="'FRONT.HERO'" [subtitle]="'FRONT.TAGLINE'">
    <p class="mat-body-2 intro" [innerHTML]="'FRONT.INTRO' | translate"></p>
    <div class="card-container" fxLayout="row wrap" fxLayoutAlign="center stretch">
        <mat-card fxLayout="column" *ngFor="let card of cards">
            <mat-card-title>{{ card.title | translate }}</mat-card-title>
            <mat-card-content>
                <p>{{ card.content | translate }}</p>
            </mat-card-content>
            <mat-card-actions>
                <a [routerLink]="[ card.route | localize ]">
                    <button mat-raised-button color="warn">{{ card.button | translate }}</button>
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</app-page-template>