/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: transat;
    src: url(assets/fonts/transat-text/Transat_Text_Standard.otf) format("opentype");
}

html, body{
    margin: 0px;
}
