@import "~@angular/material/theming";
@import "./src/lib/core/theming/palette";

$lyrebirds-typography: mat-typography-config(
  $font-family: transat,
  $display-4: mat-typography-level(116px, 96px, 800, 'Oxanium'),
  $display-3: mat-typography-level(76px, 70px, 700, 'Oxanium'),
  $display-2: mat-typography-level(56px, 56px, 600, 'Oxanium'),
  $display-1: mat-typography-level(76px, 64px, 600, 'Oxanium'),
  $headline: mat-typography-level(34px, 32px, 400, 'Oxanium'),
  $title: mat-typography-level(34px, 40px, 400, 'Oxanium'),
  $subheading-2: mat-typography-level(28px, 32px, 500, 'Oxanium'),
  $subheading-1: mat-typography-level(24px, 24px, 400, 'Oxanium'),
  $body-2: mat-typography-level(18px, 24px, 500),
  $body-1: mat-typography-level(18px, 20px, 400),
  $caption: mat-typography-level(12px, 20px, 300),
  $button: mat-typography-level(20px, 14px, 500),
  $input: mat-typography-level(inherit, 1.125, 400)
);

@include mat-core($lyrebirds-typography);

$lyrebirds-primary: mat-palette($lb-blue);
$lyrebirds-accent: mat-palette($lb-cream);
$lyrebirds-warn: mat-palette($lb-salmon);
$lyrebirds-theme: mat-light-theme($lyrebirds-primary, $lyrebirds-accent, $lyrebirds-warn);

@mixin footer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  footer {
    overflow: hidden;
    text-align: center;
    color: whitesmoke;
    background-color: mat-color($primary);
  }
}

@include angular-material-theme($lyrebirds-theme);
@include footer-theme($lyrebirds-theme);

// Export theme colors
$primary: mat-color($lyrebirds-primary);
$accent: mat-color($lyrebirds-accent);
$warn: mat-color($lyrebirds-warn);